{% extends 'base.html.twig' %}
{% block body %}
    <h2>Danos tu opinión sobre Maleteo!</h2>
    <div>
        {{ form_start(opinionForm) }}
        {{ form_row(opinionForm.name) }}
        {{ form_row(opinionForm.city) }}
        {{ form_row(opinionForm.review) }}
        <button type="submit">Enviar</button>
        {{ form_end(opinionForm) }}
    </div>
{% endblock %}